%footer
  %hr
  %span= link_to "Home", "/", class: "internal-link"
  %span= link_to "About", "/about.html", class: "internal-link"
  %span= link_to "Now", "/now.html", class: "internal-link"
  %span= link_to "Github", "//github.com/tuomasj"
  %span= link_to "Twitter", "//twitter.com/tuomasj"
  %span= link_to "LinkedIn", "//linkedin.com/in/tuomasj"


