%h1 About me
%p
  I'm a technology enthustiast, product designer, UX designer, programmer and product owner.
%p
  My first computer was in fact Spectravideo 328 but I got Commodore 64 few years after. So technically, I was Spectravideo 328 kid first, but then I reinvented myself as Commodore 64 kid.
%p
  Whenever possible, I publish the slides of my presentations on
  = link_to "Speakerdeck", "//speakerdeck.com/tuomasj"
  \.
%h3
  My Hobbies in The Digital World
%ul
  %li
    = link_to "Tinyinvoice", "//www.tinyinvoice.net"
    %small Super simple invoicing, create an invoice and email it as PDF
  %li
    = link_to "Tinydream", "//www.tinydream.co"
    %small Compound interest calculator -- today is the second best time to start saving!
  %li
    = link_to "Rubysauna", "http://www.rubysauna.org"
    %small Warm little Ruby event, organized every now and then
  %li
    = link_to "Gridlover", "http://www.gridlover.net"
    %small Web design is 80% typography, so you need Gridlover to help you find the vertical rhythm. It's like Yoga for text!

