%h1 What I'm doing right now
%ul
  %li
    Building a secret society of experienced programmers and designers at
    = link_to "Talented", "https://talented.fi"
  %li
    Working on my sideprojects
    %ul
      %li= link_to "Gridlover", "http://www.gridlover.net"
      %li= link_to "Tinyinvoce", "http://www.tinyinvoice.net"
      %li= link_to "TribeOps", "http://www.tribeops.net"
  %li.strikethrough
    Migrating my blog from Jekyll to Middleman
  %li.strikethrough
    Working for OP financial group (
    = link_to "OP.fi", "https://op.fi"
    ), building digital products that make lives better

%p
  %small
    Last update: July 28, 2019
%p
  %small.strikethrough
    Last update: January 12, 2016
